.container{
    width: 15%;
    height: 100%;
    margin-left: 0;
    background-color: #183446;
}

.sidebarBtn{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darkslategrey;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.2s ease-in-out;
}

.sidebarBtn:hover{
    background-color: #0090c1;
}