.modal{
    background-color: #02364a;
    border-radius: 32px;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropfield{
    margin-top: 5%;
    border: 5px dashed #e0e0e0;
    height: 60%;
    width: 95%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisibleInput{
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.invisibleInputActive{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.previewImage{
    position: absolute;
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
}

.buttonContainer{
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 5%;
}