.modal{
    background-color: #02364a;
    border-radius: 32px;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.buttonContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
}